#-------------------------------------------------------------------------------
# midi.service
#
# Patcher TTY to MIDI Systemd Service Configuration File
#
# Start midi at boot as a persistent systemd service:
# $ sudo ln -s /home/pi/patcher/patcher/lib/midi.service /etc/systemd/system/midi.service
# $ sudo systemctl enable midi.service
#
# Commands:
# $ sudo systemctl status midi    # display status
# $ sudo systemctl start midi     # start now
# $ sudo systemctl restart midi   # restart now
# $ sudo systemctl stop midi      # stop now
#
# Cooper Baker (c) 2024
# http://nyquist.dev/patcher
#-------------------------------------------------------------------------------


[Unit]
Description=Patcher TTY to MIDI
#After=network.target

[Service]
User=root
Type=simple
Restart=always
KillMode=process
WorkingDirectory=/home/pi/patcher/patcher/lib
ExecStart=/home/pi/patcher/patcher/lib/midi

[Install]
WantedBy=multi-user.target


#-------------------------------------------------------------------------------
# eof
#-------------------------------------------------------------------------------
